<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" sizes="64x64" href="favicon.ico" />
        <link rel="icon" type="image/png" sizes="64x64" href="iconfinder_icon-clock_2867879_64.png">
        <link rel="icon" type="image/png" sizes="128x128" href="iconfinder_icon-clock_2867879_128.png">
        <link rel="icon" type="image/png" sizes="256x256" href="iconfinder_icon-clock_2867879_256.png">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
